In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
import time

In [2]:
data = pd.read_csv('newdata.csv')

## DATA PREPROCESSING

In [3]:
y = data['enrolled']
X = data.drop(columns = 'enrolled')

### BUILDING TRAIN AND TEST SET

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 111)

In [9]:
train_identifier = X_train['user']

In [10]:
X_train = X_train.drop(columns = 'user')

In [11]:
test_identifier = X_test['user']
X_test = X_test.drop(columns = 'user')

### FEATURE SCALLING

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
sc = StandardScaler()

In [15]:
X_train2 = pd.DataFrame(sc.fit_transform(X_train))
X_test2 = pd.DataFrame(sc.fit_transform(X_test))
X_train2.columns = X_train.columns.values
X_test2.columns = X_test.columns.values
X_train2.index = X_train.index.values
X_test2.index = X_test.index.values

In [17]:
X_train = X_train2
X_test = X_test2

## MODEL BUILDING

In [18]:
from sklearn.linear_model import LogisticRegression

In [20]:
clf = LogisticRegression(random_state = 0, penalty = 'l1')
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [21]:
y_pred

array([0, 1, 0, ..., 1, 1, 1], dtype=int64)

In [23]:
from sklearn.metrics  import confusion_matrix, accuracy_score, f1_score, precision_score, recall_score

In [24]:
cm = confusion_matrix(y_test, y_pred)

In [25]:
accuracy_score(y_test,y_pred)

0.7662

In [26]:
precision_score(y_test,y_pred)

0.7637130801687764

In [27]:
recall_score(y_test, y_pred)

0.765867418899859

In [28]:
f1_score(y_test, y_pred)

0.7647887323943662

In [45]:
y_results = pd.concat([y_test, test_identifier], axis = 1,).dropna()
y_results['predicted_results'] = y_pred
y_results[['user', 'enrolled', 'predicted_results']]

         user  enrolled  predicted_results
20631   64069         0                  0
46141  157348         1                  1
97     272545         0                  0
11481  253029         0                  0
7913    42276         1                  1
45046  140907         1                  1
4686   242027         1                  1
26437  301926         0                  0
18070  353619         1                  0
45957   60989         1                  0
19529   89750         0                  0
35588  343156         0                  0
36915  362361         0                  0
26201   69591         0                  0
7251   166140         0                  0
7907   319903         1                  1
28602   58533         1                  1
34427  358701         1                  1
40264  175003         1                  1
30060   71282         1                  0
26763  175904         0                  0
2732   259677         1                  0
30589  276596         0                  0
4009   333121         0                  0
33887  348617         0                  0
19084  342948         1                  0
26926  286239         1                  1
14544  291102         1                  1
16335  301108         1                  1
29847  304637         1                  1
...       ...       ...                ...
37028   45450         0                  0
44782  275046         0                  0
23137  172436         0                  0
35975  244499         0                  0
43674   85497         0                  0
35198  237665         0                  1
21552  257536         1                  0
14562  299390         1                  1
10644  280754         0                  0
46520   43490         1                  1
47367   41296         1                  1
32693    2893         0                  1
19126  258976         1                  1
27046  276463         0                  1
47939  239448         0                  0
24805   59078         0                  1
27286   79684         0                  0
11782  257378         1                  1
40803  132055         0                  0
31725  167625         1                  1
40902   21254         1                  1
41517  363626         1                  1
12982  214443         0                  1
2964   300786         0                  1
31061  133471         1                  1
42901   55043         0                  1
19682  224125         0                  0
22835  269237         1                  1
6296   364003         0                  1
40389  298370         0                  1

[10000 rows x 3 columns]